<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
/>

<mat-toolbar color="primary">
  <mat-toolbar-row class="navbar-row">
    <span class="navbar-title"><i class="fa fa-book"></i> The Bookstore</span>
    <div class="navbar-links">
      <a mat-button routerLink="/book">All Books</a>
      <a mat-button routerLink="/bookshop">All Bookshops</a>
      <a mat-button routerLink="/add-book">Add Book</a>
      <a mat-button routerLink="/add-bookshop">Add Bookshop</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
