<h2>Book List</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Country</th>
      <th>Language</th>
      <th>Link</th>
      <th>Pages</th>
      <th>Year</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.country }}</td>
      <td>{{ book.language }}</td>
      <td>{{ book.link }}</td>
      <td>{{ book.pages }}</td>
      <td>{{ book.year }}</td>
      <td>{{ book.price }}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteBook(book.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
