<div class="title-card">
  <h2>Add Bookshop</h2>
</div>

<form [formGroup]="bookshopForm" (ngSubmit)="onSubmit()" class="book-form">
  <div class="form-group">
    <label>Shop Name:</label>
    <input type="text" formControlName="shopName" class="form-control" />
  </div>
  <div class="form-group">
    <label>Shop Number:</label>
    <input type="number" formControlName="shopNumber" class="form-control" />
  </div>
  <div class="form-group">
    <label>Location:</label>
    <input type="text" formControlName="location" class="form-control" />
  </div>
  <div class="form-group">
    <label>Contact Number:</label>
    <input type="number" formControlName="contactNumber" class="form-control" />
  </div>
  <div class="form-group">
    <label>Email:</label>
    <input type="text" formControlName="email" class="form-control" />
  </div>
  <div class="form-group">
    <label>Books:</label>
    <div class="table-wrapper">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
            <th>Country</th>
            <th>Language</th>
            <th>Pages</th>
            <th>Year</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books">
            <td>
              <input type="checkbox" (change)="toggleSelection(book)" />
            </td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.country }}</td>
            <td>{{ book.language }}</td>
            <td>{{ book.pages }}</td>
            <td>{{ book.year }}</td>
            <td>{{ book.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="form-group">
    <button
      type="submit"
      [disabled]="!bookshopForm.valid"
      class="btn btn-primary"
    >
      Add Book
    </button>
  </div>
</form>
