<div *ngIf="bookshop" class="details-container">
  <h2>{{ bookshop.shopName }}</h2>
  <p><strong>Location:</strong> {{ bookshop.location }}</p>
  <p><strong>Contact Number:</strong> {{ bookshop.contactNumber }}</p>
  <p><strong>Email:</strong> {{ bookshop.email }}</p>
  <p><strong>Books in the store:</strong></p>
  <div class="card-container">
    <div *ngFor="let book of bookshop.books">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title class="title">{{ book.title }}</mat-card-title>
          <mat-card-subtitle class="subtitle">{{
            book.author
          }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="content">
          <br />
          <p><strong>Country:</strong> {{ book.country }}</p>
          <p><strong>Language:</strong> {{ book.language }}</p>
          <p>
            <strong>Link: </strong>
            <a href="{{ book.link }}" target="_blank">{{ book.title }}</a>
          </p>
          <p><strong>Pages:</strong> {{ book.pages }}</p>
          <p><strong>Year:</strong> {{ book.year }}</p>
          <p><strong>Price:</strong> ${{ book.price }}</p>
          <button class="delete-button" (click)="deleteBook(book.id)">
            Delete
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
